doctype html 
html 
    head 
        title To do app 
        link(rel="stylesheet", href="/static/style.css")
    body 
      div.container
         h1.logo Welcome to TO-Do APP CREATED BY 00010467
        
         block content
