* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
}

.logo {
  text-align: center;
  font-size: 4.5rem;
}

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input {
  display: inline-block;
  padding: 10px;
  font-size: 1.5rem;
  width: 85%;
  border: 1px solid lightcoral;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.5rem;
  width: 12%;
  border: 1px solid lightcoral;
  background-color: white;
  cursor: pointer;
}
.btn:hover {
  display: inline-block;
  padding: 18px 28px;
  font-size: 1.5rem;
  width: 12%;
  border: 1px solid lightcoral;
  background-color: lightcoral;
  color: aliceblue;
  cursor: pointer;
}

.todos {
  margin-top: 25px;
  border: 1px solid lightcoral;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  border-bottom: 1px solid lightcoral;
}

.todo:last-child {
  border-bottom: none;
}

.todo:hover {
  padding: 10px;
  background-color: lightcoral;
}

.err {
  text-align: center;
  color: red;
  font-size: 1.4rem;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 15px;
}

.suc {
  text-align: center;
  color: green;
  font-size: 1.4rem;
  border: 1px solid green;
  padding: 10px;
  margin-bottom: 15px;
}

.del {
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 10px;
  background-color: tomato;
  color: aliceblue;
}

.done,
.undone {
  text-decoration: none;
}

.done {
  text-decoration: line-through;
  color: black;
}
